<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>404</title>
    <style>
        /* Add custom styles for the 404 page here */
    </style>
</head>
<body>
    
    <h1 class="not-found-title">Page not found</h1>
</body>
</html>
