<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
    <style>
        /* Add custom styles for the home page here */
    </style>
</head>
<body>
    <nav class="navigation">
        <ul class="nav-list">
            
            <li class="nav-item">
                <a href="/auth/login" class="nav-link">Login</a>
            </li>
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>

    <h1 class="welcome-title">Welcome to your Collection<h1>
    <p class="welcome-text">Experience the power of You.</p>
</body>
</html>

